*.tlog
*.obj
*.exe
*.ipch
*.log
*.db
*.pdb
*.idb
*.res
*.exp
*.iobj
*.ipdb
*.opendb
*.pch
*.ilk
*.db-shm
*.db-wal
/Reference/Header/Engine
*.dll
/Client/bin/{out}/x64/Debug/System.dll
/Client/bin/{out}/x64/Release/System.dll
/Reference/Library/Engine/x64/System.lib
